@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
@import url("https://fonts.googleapis.com/css?family=Roboto Slab:300,400,500,600,700");

@tailwind base;

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;

@layer components {
  input[type="submit"],
  a.button {
    border: 1px solid #6e6e6e;
    background-color: #fa7921;
    border-radius: 20px;
    color: white;
    font-weight: lighter;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 160px;
  }

  a.button.classic {
    background: white;
    color: #6e6e6e;
  }

  a.button.small {
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    width: 100px;
  }

  button.big,
  input[type="submit"].big,
  a.button.big {
    width: 200px;
  }

  input[type="submit"].button-blue{
    background-color: #58C0EB;
  }
}

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

html, body, #__next {
  min-height: 100vh;
}

body {
  color: #6e6e6e;
}

button {
  border: 1px solid #6e6e6e;
  border-radius: 20px;
  font-size: 18px;
  font-weight: lighter;
  height: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto Slab, serif;
  font-weight: 600;
}

@media all and (min-width: 1280px) {
  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 20px;
  }
}
